# .gitignore
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# Data and assets
/data/
/assets/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Others
*.sqlite
*.db
